{% extends "layout.html" %}


{% block block1 %}
    <h3>Articles</h3>
    <hr>
    {% if articles %}
    <form action="/search" method="POST">
        <input type="text" name="keyword" maxlength="64" placeholder="Search">            
        <button type="submit" class="btn btn-dark">Search</button>                        
    </form>
    <hr>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles  %}
            <tr>
                <td></td>
                <td><a href="/article/{{article['id']}}" class= "btn btn-secondary">{{article['title']}}</a></td>
                <td>{{article.user.username}}</td>
                <td>{{article["date"].strftime('%d-%m-%Y %H:%M')}}</td>
                
                {% if user.id in article.likes|map(attribute ='author')|list %}
                    <td><a href="/like/{{article['id']}}" class="btn btn-danger"><i class="fa-solid fa-heart"></i><small>        {{article.likes|length}}</small> </a></td>
                {% else %}
                    <td><a href="/like/{{article['id']}}" class="btn btn-danger"><i class="fa-regular fa-heart"></i><small>        {{article.likes|length}}</small> </a></td>
                {% endif %}
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    
    {% else %}
        <div class= "alert alert-warning">In order to see articles you need to log in first.</div>

    {% endif %}
    
{% endblock block1 %}

