{% extends "layout.html" %}

{% block block1 %}
<h3>Control panel</h3>
<small>welcome <b>{{session.username}}</b></small>
<hr>

<a href="/addarticle" class="btn btn-primary">Add <i class="fa-solid fa-plus"></i></a>
<br><br>
{% if articles %}
    
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles  %}
            
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td><a href="/article/{{article.id}}" class= "btn btn-secondary">{{article.title}}</a></td>
                <td>{{article.user.username}}</td>
                <td>{{article.date.strftime('%d-%m-%Y %H:%M')}}</td>
                <td><a href="/edit/{{article.id}}" class="btn btn-secondary">edit</a></td>
                <td><a href="/delete/{{article.id}}" class="btn btn-secondary">delete</a></td>
                {% if user.id in article.likes|map(attribute ='author')|list %}
                    <td><a href="/like/{{article.id}}" class="btn btn-danger"><i class="fa-solid fa-heart"></i><small>        {{article.likes|length}}</small> </a></td>
                {% else %}
                    <td><a href="/like/{{article.id}}" class="btn btn-danger"><i class="fa-regular fa-heart"></i><small>        {{article.likes|length}}</small> </a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class= "alert alert-danger">You don't have any article yet</div>

{% endif %}
{% endblock  %}