{% extends "layout.html" %}


{% block block1 %}
{% from "includes/_formhelpers.html" import render_field %}
<h4><b>Register</b><h4>
<hr>

<div class="col-md-6">
    <form method="post">
        {{ render_field(form.name, class= 'form-control') }}
        {{ render_field(form.username, class= 'form-control') }}
        {{ render_field(form.email, class= 'form-control') }}
        {{ render_field(form.password, class= 'form-control') }}
        {{ render_field(form.confirm, class= 'form-control') }}
        <button type="submit" class="btn btn-dark">sign up</button>
    </form>
</div>
{% endblock block1 %}