{% extends "layout.html" %}

{% block block1 %}
<h1>About</h1>
<hr>
<p>Articly is a wep-site that you can share articles about your interests, hobbies 
    and you can read others articles too. <br>
    Articly is a new social media platform so please be understandable
    Just simply sign up and start to share your thougths
    with others. <br> Articly is created by me (Karam Imamali) in 2023. It's a simple and interesting
    wep app that written in <a href="https://www.python.org/">Pyhton</a> ,<a href="https://flask.palletsprojects.com/en/2.2.x/">Flask wep framework</a>. I also used html 
    and <a href="https://getbootstrap.com/">bootsrap</a>.This wep site created for fun, so just try to have fun and don't forget to give me feedback.</p>

    <br><br><br><br>
    <p><a href="https://instagram.com/karamimamali?igshid=MzNlNGNkZWQ4Mg==
        ">my instagram</a></p>

{% endblock  %}