{% extends "layout.html" %}


{% block block1 %}
    <h3>Articles</h3>
    <hr>
    {% if articles %}
    <form action="/search" method="POST">
        <input type="text" name="keyword" maxlength="64" placeholder="Search">            
        <button type="submit" class="btn btn-dark">Search</button>                        
    </form>
    <hr>

        <ul class="list-group">
            {% for article in articles  %}
                <li class='list-group-item'><a href="/article/{{article[0]['id']}}">{{article[0]['title']}}</a></li>            
            {% endfor %}
        </ul>
    
    {% else %}
        <div class= "alert alert-danger">There is no any article</div>
    {% endif %}
    
{% endblock block1 %}

